body {
    font-family: 'Chilanka', cursive;
    background-image: url(../images/crumpled-paper-background.jpg);
}

input, textarea {
    font-family: 'Chilanka', cursive;
}

p{
    font-size: 16px;
}

.container {
    background-color: #ffffff;
    margin-top: 10px;
    opacity: 0.95;
    border-radius: 15px;
}

#submit-name {
    margin-top: 20px;
}

#rps-logo {
    height: 115px;
}

.card-panel {
    height: 225px;
    position: relative;
}

.outcomes {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
}

.outcome-trackers{
    display: inline-block;
    padding-right: 10px;
}


/* Chat Box */

#chat{
    height: 320px;
    margin-top: 10px;
    position: relative;
    padding: 10px;
}

#chat-messages {
    height: 150px;
    overflow: auto;
}

.player1{
    color: teal;
}

.player2{
    color: grey;
}



